.fixedIMgNewsletter {
  background-image: url('../../img/spacesbg.webp');
  height: 300px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2000px;
}

@media all and (max-width: 500px) {
  .fixedIMgNewsletter {
    background-size: 1000px;
  }
}
